.notification-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.notification-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.notification-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.notification-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.notification-warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}