nav {
  background-color: #181818;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 80px;
  font-size: 18px;
}

nav a:visited {
  color: #ccc;
}

nav a:hover {
  color: #e36222;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  min-height: 100%;
  position: relative;
}

h1 {
  font-style: italic;
font-weight: bold;
}