#home {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#bienvenida {
    max-width: 1300px;
}


#resumen-2022 p {
    max-width: 1000px;
}

#mapa {
    border: 2px solid #0034F0;
}

video {
    width: 100%;
    max-width: 1000px;

}

#logos-sponsors  {
    filter: invert(1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#logos-sponsors img {
    width: 230px;
    max-width: 100%;
    margin: 10px;
}
